*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* زر دائري */
.theme-toggle {
    width: 60px; /* عرض الزر */
    height: 60px; /* ارتفاع الزر */
    background-color: #f9c74f; /* لون الشمس */
    border: none;
    border-radius: 50%; /* جعله دائريًا */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* ظل خفيف */
    transition: all 0.3s ease; /* تأثير السلاسة */
}

/* التأثير عند التمرير */
.theme-toggle:hover {
    transform: scale(1.1); /* تكبير خفيف */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3); /* زيادة الظل */
}

/* لون الوضع الداكن */
body.dark-theme .theme-toggle {
    background-color: #4a4e69; /* لون القمر */
}

/* أيقونة داخل الزر */
.theme-toggle i {
    font-size: 24px; /* حجم الأيقونة */
    color: white; /* لون الأيقونة */
    transition: transform 0.3s ease;
}

/* التأثير عند التبديل */
body.dark-theme .theme-toggle i {
    transform: rotate(180deg); /* دوران الأيقونة */
}




h3{
    color: darkgrey;
}

.bg-gr{
    background-color: darkgray;
}

.bold{
    font-weight: 900;
}
